<%- include("../layout/header") %>
<div class="container">
  <div>
    <h1 class="text-center">Pet Wars</h1>
  </div>

  <p>
    <a class="btn btn-outline-warning" href="/petwars/create">
      <i class="bi bi-plus-circle"></i> Add your pet</a
    >
  </p>
  <p>
    <a class="btn btn-outline-warning" href="/petwars/pets"> Pet list</a>
  </p>
  <p>
    <a class="btn btn-outline-warning" href="/petwars/adminpanel"
      >Update & Delete</a
    >
  </p>

  <% if (oldPet1) { %>
  <div class="alert alert-warning" role="alert">
    <div class="result">
      <h2 class="text-center">Results</h2>
      <div class="d-flex justify-content-center gap-5">
        <div class="pr-5">
          <form action="/petwars/" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <a href="/petwars/pets/<%=  %>"
              ><img
                src="images/<%= oldPet1.image%>"
                style="height: 300px"
                class="pr-5 img-thumbnail"
            /></a>
          </form>
        </div>
        <div class="pl-5">
          <form action="/petwars/" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <a href="/petwars/pets/<%=  %>"
              ><img
                src="images/<%= oldPet2.image%>"
                style="height: 300px"
                class="pr-5 img-thumbnail"
            /></a>
          </form>
        </div>
      </div>
        <p class="text-center">
          <%= %> of people picked
          <br />
          <a href="/petwars/pets/<%= oldPet1.ID %>"><%= oldPet1.name %></a> over
          <a href="/petwars/pets/<%= oldPet2.ID %>"><%= oldPet2.name %>.</a>
        </p>
        <h2 class="text-center">Next PetBattle!</h2>
      <% } %>

      <div class="text-center mb-5 fs-5">
        <%= pet1.name %><span> VS </span><%= pet2.name %>
      </div>
      <div class="d-flex justify-content-center gap-5">
        <div class="pr-5">
          <form action="/petwars/" method="post">
            <input type="hidden" name="winner" value="<%= pet1.ID %>">
            <input type="hidden" name="loser" value="<%= pet2.ID %>">
            <a class="post_link" href="http://localhost:3000/petwars"
              ><img
                id="<%= pet1.ID %>"
                src="images/<%= pet1.image%>"
                style="height: 300px"
                class="pr-5 img-thumbnail"
            /></a>
          </form>
        </div>
        <div class="pl-5">
          <form action="/petwars/" method="post">
            <input type="hidden" name="winner" value="<%= pet2.ID %>">
            <input type="hidden" name="loser" value="<%= pet1.ID %>">
            <a class="post_link" href="http://localhost:3000/petwars"
              ><img
                id="<%= pet2.ID %>"
                src="images/<%= pet2.image%>"
                style="height: 300px"
                class="mr-5 img-thumbnail"
            /></a>
          </form>
        </div>
      </div>

      <div class="text-center mt-5"><h2>Who looks more awesome?</h2></div>
      <div class="text-center">
        Can't decide <a href="/petwars/">refresh</a> the page for a draw
      </div>
    </div>
  </div>
</div>

<script>
  const post_links = document.getElementsByClassName("post_link");
  if (post_links.length){
    for (let i = 0; i < post_links.length; i++) {
      post_links[i].addEventListener("click", (evt) => {
        evt.preventDefault();
        evt.currentTarget.parentNode.submit();
        return false;
      });
    }
  }
</script>
<%- include("../layout/footer") %>
